<div>
  <app-nav></app-nav>
  <h1>Aplicación 1 - Home Page</h1>
  <!-- TODO: Descomentar para ver ejemplo On Push -->
  <!-- <app-on-push></app-on-push> -->
  <!-- TODO: Descomentar para ver ejemplo Detach -->
  <!-- <app-detach></app-detach> -->
  <!-- TODO: Descomentar para ver ejeplo detach/reattach -->
  <!--
  <app-reattach [enVivo]="live"></app-reattach>
  <h5>
    ¿Mostrar precio Bitcoin en vivo?
  </h5>
  <input type="checkbox" [(ngModel)]="live" />
   -->
   <!-- TODO: Descomentar para ver ejemplo de uso de Angular Zone -->
   <!-- <app-ng-zone></app-ng-zone> -->
   <!-- Ejemplo de uso de Async Pipe -->
   <app-async-pipe [items$]="items$"></app-async-pipe>
   <button (click)="addItem()">Añadir un nuevo número</button>
</div>
