<div>
  <h2>Ejemplo detach() y detectChanges()</h2>
  <div>
    <h3>
      Nombres aleatorios:
    </h3>
    <p>(se actualizan cada 3 segundos)</p>
  </div>
  <!--
    Al estar consumiendo el getter que genera constantemente nuevos nombres,
    El detach y detectChanges nos aseguran que la vista se actualiza con el control que digamos
    Sin saturar al usuario.
  -->
  <li *ngFor="let nombre of dataListProvider.data">
    {{ nombre }}
  </li>
</div>
