<div>
  <h1>
    Ejemplo de uso de NgZone
  </h1>
  <div>
    <h5>Progreso Actual: {{ progreso }} %</h5>
    <h4 *ngIf="progreso >= 100">
      Progreso terminado: {{ texto }} de Angular Zone
    </h4>
  </div>
  <div>
    <button (click)="aumentarDentroNgZone()">Aumentar DENTRO de NgZone</button>
    <button (click)="aumentarFueraNgZone()">Aumentar FUERA de NgZone</button>
  </div>
</div>
